/* Put article styles here */
.article {
  margin: 5em auto 0;
  margin-bottom: 78.4px;
  padding: 1em;
  padding-left: 44.8px;
  font-size: 140%;
  max-width: 800px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
}

.article__paragraph {
  margin: 0;
  color: #333;
}

.article__paragraph:not(:first-child) {
  margin-top: 0.7em;
}
