.welcome {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background: coral;
}

.welcome__text {
  font-size: 400%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
