@media (min-width: 500px) {
  .header {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  .article {
    margin: 3.5em auto 0;
    padding: 2em;
  }
}

@media (min-width: 800px) {
  .article {
    margin: 3.5em auto;
  }
}
