.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__title {
  font-weight: 600;
}

.navigation__link {
  margin: 0 0.5rem;
  text-decoration: none;
  opacity: 0.7;
}

