.header {
  width: 100%;
  padding: 1em;
  font-size: 140%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
}

.header__title {
  font-weight: 600;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.article {
  margin: 5em auto 0;
  padding: 1em;
  font-size: 140%;
  max-width: 800px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
}

.article__paragraph {
  margin: 0;
  color: #333;
}

.article__paragraph:not(:first-child) {
  margin-top: 0.7em;
}

@media (min-width: 500px) {
  .header {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .article {
    margin: 3.5em auto 0;
    padding: 2em;
  }
}

@media (min-width: 800px) {
  .article {
    margin: 3.5em auto;
  }
}
