.welcome {
  height: 100vh;
  background: coral;
}

.welcome__text {
  margin: 0;
  font-size: 400%;
  text-align: center;
  line-height: 1;
  padding-top: calc(50vh - 20pt);
  display: block;
  font-weight: 700;
}

.header {
  width: 100%;
  padding: 1em;
  font-size: 140%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
}

.header__title {
  font-weight: 600;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
