@import "./components/css-components/article.css";
@import "./components/css-components/header.css";
@import "./components/css-components/welcome.css";
@import "./components/css-components/navi.css";
@import "./components/css-components/media-min-width500px.css" (min-width: 500px);
@import "./components/css-components/media-min-width800px.css" (min-width: 800px);

* {
  box-sizing: border-box;
}

html {
  font-size: 10pt;
  line-height: 1.4;
  font-weight: 400;
  font-family: "Source Sans Pro", "Open Sans", Roboto, Arial, sans-serif;
}

body {
  margin: 0;
  background: #eee;
}
